table.table.table-condensed.table-hover
    tr
        th 人员ID
        th 名字
        th 性别
        th 年龄
        th 部门
        th 职位
        th 在职
        th 操作
    each item in userinfo
        tr(id=item.UserID)
            td #{item.UserID}
            td #{item.name}
            if(item.sex=='1')
                td 男
            if(item.sex=='2')
                td 女
            td #{item.age}
            td #{item.dep}
            td #{item.job}
            if(item.onjob=='1')
                td 在职
            if(item.onjob=='-1')
                td.danger 离职
            td.btn.btn-primary(onclick="updatainfo("+item.UserID+")") 修改
script.
        function updatainfo(id) {
            console.log(id)
            $.ajax({
              url: './updatauserinfo', 
              type: 'POST', 
              contentType: 'application/json', 
              data: JSON.stringify({id: id, type: 'userinfo' }),
              success: function(data) {         
                //var statcode = JSON.stringify(data)
                console.log(data)
                $('#results').html(data)
              }     
        });
        }
        