span.label.label-success 当前路径：修改、管理
br
br
div.alert.alert-danger#error(style="display:none;" role="alert")
form.form-horizontal
    .form-group
        label.col-sm-2.control-label 工号
        .row
            .col-lg-6
                .col-sm-10
                    h5#userid #{userinfo.UserID} 
    .form-group.has-warning.has-feedback
        label.col-sm-2.control-label 姓名
        .row
            .col-lg-6
                .col-sm-10
                    input.form-control#username(type="text" placeholder="慎重修改" value=userinfo.name)
                    span.glyphicon.glyphicon-warning-sign.form-control-feedback(aria-hidden="true")
                    span#inputWarning2Status.sr-only (慎重修改)
    .form-group
        label.col-sm-2.control-label 年龄
        .row
            .col-lg-6
                .col-sm-10
                    input.form-control#userage(type="text" placeholder="慎重修改" value=userinfo.age)
    .form-group
        label.col-sm-2.control-label 部门
        .row
            .col-lg-6
                .col-sm-10
                    input.form-control#userdep(type="text" placeholder="部门" value=userinfo.dep)
    .form-group
        label.col-sm-2.control-label 职位
        .row
            .col-lg-6
                .col-sm-10
                    input.form-control#userjob(type="text" placeholder="职位" value=userinfo.job)
    .form-group
        label.col-sm-2.control-label 在职
        .row
            .col-lg-6
                .col-sm-10
                    select.form-control#useronjob
                        if(userinfo.onjob=='1')
                            option(selected="selected") 在职
                            option 离职
                        if(userinfo.onjob=='-1')
                            option 在职
                            option(selected="selected") 离职
                        
                    
.form-group
    .row
        .col-md-4
        .col-md-4
                .col-lg-6
                    .col-sm-offset-2.col-sm-10
                        button.btn.btn-info.navbar-btn.btn-lg(onclick="updatauserinfo()") 修改
        .col-md-4
    br
#results
script.
    $("input").focus(function () {
        $('#error').slideUp()
        $('.tip').hide()
    });

    //校验输入
    $("#input").blur(function(){
        var thisval = this.val();
        if(!thisval){
            $('#error').val(输入为空)
            $('#error').show()
            return;
        }    
    })

    function updatauserinfo() {
        var userid = $("#userid").text();
        var username = $("#username").val();
        var userage = $("#userage").val();
        var userdep = $("#userdep").val();
        var userjob = $("#userjob").val();
        var useronjob = $("#useronjob").val();
        if(!userid||!username||!userage||!userdep||!userjob||!useronjob){
            console.log(!userid||username||userage||userdep||userjob||useronjob)
            return;
        }
        if(useronjob=='在职') useronjob = 1
        else useronjob = -1
        $.ajax({
              url: './updateuserinfoDAO', 
              type: 'POST', 
              contentType: 'application/json', 
              data: JSON.stringify({type:'userinfo',userid: userid, username: username, userage: userage, userdep: userdep, userjob: userjob, useronjob: useronjob }),
              success: function(data) {         
                //var statcode = JSON.stringify(data)
                console.log(data)
                    if(data=='20020'){
                        $.ajax({
                            url: './searchuserinfo', 
                            type: 'POST', 
                            contentType: 'application/json', 
                            data: JSON.stringify({sertype: 'UserID', seacontent: userid }),
                            success: function(data) {         
                                //var statcode = JSON.stringify(data)
                                console.log(data)
                                $('#results').html(data)
                            }     
                        });
                    }
                }
            });
        }